.products{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.product {
    position: relative;
    overflow: hidden;
}
.product .img{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.product .desc{
    color: white;
    font-size: .8rem;
    width: -webkit-fill-available;
    position: absolute;
    bottom: -100px;
    background-color: rgba(0, 0, 0,.8);
    padding: 15px;
    transition: all .2s ease-in-out;
}
.product .img:hover + .desc{
    bottom: 6px;
}
.product .price{
    position: absolute;
    right: 0;
    background-color: rgb(163, 37, 15);
    font-weight: bold;
    font-size: 22px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
}
.pro-button {
    display: block;
}